.profile__job {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  font-weight: 400;
  text-overflow: ellipsis;
  max-width: 294px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 670px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    max-width: 190px;
  }
}