.element__like {
  border: none;
  cursor: pointer;
  background: none;
  width: 24px;
  height: 19px;
  padding: 0;
  background-image: url('/src/images/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transition: .2s;
}

.element__like:hover {
  opacity: 0.5;
}