@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

@import url("./blocks/page/page.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__block/header__block.css");
@import url("./blocks/header/__email/header__email.css");
@import url("./blocks/header/__text/header__text.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__info/profile__info.css");


@import url("./blocks/profile/__edit/profile__edit.css");


@import url("./blocks/profile/__description/profile__description.css");
@import url("./blocks/profile/__avatar-img/profile__avatar-img.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__job/profile__job.css");
@import url("./blocks/profile/__line/profile__line.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");

@import url("./blocks/elements/elements.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__img/element__img.css");
@import url("./blocks/element/__group/element__group.css");
@import url("./blocks/element/__title/element__title.css");
@import url("./blocks/element/__like/element__like.css");
@import url("./blocks/element/__like/_active/element__like_active.css");
@import url("./blocks/element/__dlt/element__dlt.css");
@import url("./blocks/element/__number-likes/element__number-likes.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__container/popup__container.css");

@import url("./blocks/popup/_open/popup_open.css");
@import url("./blocks/popup/__close/popup__close.css");

@import url("./blocks/popup/__content/popup__content.css");
@import url("./blocks/popup/__submit/popup__submit.css");
@import url("./blocks/popup/__title/popup__title.css");

@import url("./blocks/form/form.css");
@import url("./blocks/form/__text/form__text.css");
@import url("./blocks/form/__submit/form__submit.css");
@import url("./blocks/form/__title/form__title.css");
@import url("./blocks/form/__error/form__error.css");
@import url("./blocks/form/__error/_active/form__error_active.css");
@import url("./blocks/form/__text/_error/form__text_error.css");
@import url("./blocks/form/__submit/_disabled/form__submit_disabled.css");


@import url("./blocks/popup-img/popup-img.css");
@import url("./blocks/popup-img/__title/popup-img__title.css");
@import url("./blocks/popup-img/__img/popup-img__img.css");
@import url("./blocks/popup-img/__container/popup-img__container.css");
@import url("./blocks/popup-img/__figure/popup-img__figure.css");
@import url("./blocks/popup-img/__content/popup-img__content.css");
@import url("./blocks/popup-img/_open/popup-img_open.css");

@import url("./blocks/login/login.css");
@import url("./blocks/login/__title/login__title.css");
@import url("./blocks/login/__input/login__input.css");
@import url("./blocks/login/__btn/login__btn.css");
@import url("./blocks/login/__form/login__form.css");

@import url("./blocks/register/register.css");
@import url("./blocks/register/__title/register__title.css");
@import url("./blocks/register/__input/register__input.css");
@import url("./blocks/register/__enter/register__enter.css");
@import url("./blocks/register/__btn/register__btn.css");
@import url("./blocks/register/__form/register__form.css");

@import url("./blocks/popup/__tooltip/popup__tooltip.css");
@import url("./blocks/popup/__icon/popup__icon.css");
@import url("./blocks/popup/__text/popup__text.css");