.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgb(84 84 84 / 70%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}